/*


*/
/*
//Button
$btn-main-bg: $base-lighter;

//$btn-primary-bg:     $brand-primary;
$btn-dark-bg: $clr-dark;
$btn-third-bg: $brand-third;
$btn-border-dark: $clr-dark;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-line-height: $base-line-height;
$btn-transition: all, 0.2s ease-in-out;*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: #212529;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2.25rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #f05f40;
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #f05f40;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 6em !important;
}
.about-me .section__title--about {
  color: #212529;
  font-weight: bold;
}
.about-me .section__subtitle--about {
  background: #f05f40;
  padding: 0.25em 1em;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1em;
}
.about-me .about-me__body {
  color: #212529;
  font-family: "Source Code Pro", monospace;
}
.about-me .about-me__body a {
  color: #f05f40;
  text-decoration: none;
  font-weight: bold;
}
.about-me .about-me__img {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* footer */
.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 2.5em 0;
  font-size: 1.25rem;
}
.footer .footer__link {
  font-weight: 900;
}
.footer .footer__link:hover {
  text-decoration: underline;
}
.footer .social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.footer .social-list .social-list__item {
  margin: 0 0.5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a .fab {
  font-size: 25px;
  transition: transform 200ms ease-in-out;
}
.footer a .fab:hover {
  transform: scale(1.5);
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.landing--img {
  --img-size: 400px;
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.landing--container-left {
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #f05f40;
}

.lcl--content {
  margin: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing--social {
  color: #212529;
  font-size: 35px;
  margin: 0 1rem;
  transition: transform 0.5s;
}

.landing--social:hover {
  transform: scale(1.2);
  color: #ebebeb;
}

.landing--container-right {
  flex: 65%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: #ebebeb;
}

.lcr--content {
  width: 50%;
  margin-right: 7rem;
  font-style: normal;
}

.lcr--content h6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: -0.85rem;
  opacity: 0.8;
}

.lcr--content h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 110%;
  margin: 1rem 0;
}

.lcr--content p {
  margin-top: 1.45rem;
  font-weight: 500;
  font-size: 1.15rem;
  opacity: 0.7;
}

.lcr-buttonContainer {
  margin-top: 2rem;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-download,
.btn-contacto {
  margin-top: 20px;
  margin-left: 10px;
}

/* Media Queries*/
@media (max-width: 1100px) {
  .landing--img {
    --img-size: 350px;
  }

  .lcl--content {
    margin: 2rem;
  }

  .lcr--content h6 {
    font-size: 1.1rem;
  }

  .lcr--content h1 {
    font-size: 3rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}
@media (max-width: 900px) {
  .landing--img {
    --img-size: 300px;
  }

  .landing--social {
    font-size: 30px;
  }

  .lcr--content {
    width: 60%;
    margin-top: 10%;
    margin-right: 6%;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }

  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }
}
@media (max-width: 600px) {
  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }

  .landing--img {
    --img-size: 200px;
    left: 50%;
    top: 30%;
    border: 8px solid #eaeaea;
    transform: translate(-50%, -50%);
  }

  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }

  .landing--social {
    display: none;
  }

  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 70%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .lcr--content {
    margin-top: 20%;
    margin-right: initial;
    width: 100%;
  }

  .lcr--content h6 {
    font-size: 1rem;
    text-align: center;
  }

  .lcr--content h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .lcr--content p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }

  .lcr-buttonContainer {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .lcr-buttonContainer:hover {
    background-color: transparent !important;
  }

  .lcr-buttonContainer button {
    margin-top: -20%;
  }
}
@media (max-width: 500px) {
  .lcr--content {
    margin-top: 35%;
  }
}
@media (max-width: 370px) {
  .lcr--content {
    margin-top: 60%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}
.my-services {
  background-size: cover;
  background-blend-mode: multiply;
  color: #212529;
  text-align: justify;
  text-align: center;
}

.section__title--services {
  color: #f05f40;
  position: relative;
  text-align: center;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #f05f40;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}
.services h3 {
  text-align: center;
  font-weight: bold;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}
.service h3 {
  margin-bottom: 15px;
}
.service p {
  font-family: "Source Code Pro", monospace;
}

.service-icons {
  font-size: 50px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
.my-work {
  background-color: #fcfcfc;
  color: #212529;
  text-align: center;
  margin-top: 10px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  overflow: hidden;
  margin: 5px;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Individual portfolio item styles */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.section__subtitle--work {
  color: #f05f40;
  font-weight: 900;
  padding: 15px;
}

.skills-btn {
  margin-top: 10px;
  transition: transform 200ms ease-in-out;
  color: #f05f40;
  border: none;
  background-color: #ebebeb;
  padding: 10px;
}

.skills-btn:hover {
  transform: scale(1.1);
}

.skill-me {
  background-color: #ebebeb;
}
.skill-me .section-title {
  margin: 0;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}
.skill-me .section-title .section__title--skill {
  color: #f05f40;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.service-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 35px 10px;
  margin-top: 10px;
  cursor: crosshair;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.service-thumb:hover {
  top: -5px;
  transform: scale(1.15);
}

.skill-icons {
  font-size: 50px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1800px, 0, 0);
  }
}
.roll-h {
  display: inline-flex;
  animation: slide 15s linear infinite;
  margin-left: 5px;
}

.project-galeria {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
}
.project-galeria .foto-wrapper img {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: rgba(228, 104, 104, 0.24) 0px 3px 8px;
}

@media (max-width: 600px) {
  .project-galeria {
    width: 100%;
    margin: auto;
    display: block;
    align-content: center;
    padding: 5px;
  }
  .project-galeria .foto-wrapper img {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: rgba(228, 104, 104, 0.24) 0px 3px 8px;
  }
}
@media (max-width: 800px) {
  .project-galeria {
    width: 100%;
    margin: auto;
    display: block;
    align-content: center;
    padding: 5px;
  }
  .project-galeria .foto-wrapper img {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: rgba(228, 104, 104, 0.24) 0px 3px 8px;
  }
}
/*


*/
/*
//Button
$btn-main-bg: $base-lighter;

//$btn-primary-bg:     $brand-primary;
$btn-dark-bg: $clr-dark;
$btn-third-bg: $brand-third;
$btn-border-dark: $clr-dark;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-line-height: $base-line-height;
$btn-transition: all, 0.2s ease-in-out;*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #212529;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 900;
}

:focus {
  outline: 3px solid #f05f40;
  outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    /*grid-template-areas: 
            "img title"
            "img subtitle";*/
    grid-template-columns: min-content max-content;
  }
}
@media (min-width: 600px) and (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
@media (min-width: 600px) {
  .img_intro {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: #f05f40;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  transition: transform 200ms ease-in-out;
  border-radius: 7px;
}
.btn:hover {
  transform: scale(1.1);
  color: #f05f40;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1600px;
  padding: 50px 20px;
  margin: 0 auto;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.gallery-img {
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  transition: transform 250ms;
  cursor: pointer;
}

.gallery-img:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 10px black;
}

#pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 95, 64, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  padding: 50px;
}

#selected-image {
  max-height: 100%;
}

a {
  color: #f05f40;
  text-decoration: none;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
