/*


*/
/*
//Button
$btn-main-bg: $base-lighter;

//$btn-primary-bg:     $brand-primary;
$btn-dark-bg: $clr-dark;
$btn-third-bg: $brand-third;
$btn-border-dark: $clr-dark;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-line-height: $base-line-height;
$btn-transition: all, 0.2s ease-in-out;*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: #212529;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2.25rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #f05f40;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #f05f40;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 6em !important;
}
.about-me .section__title--about {
  color: #212529;
  font-weight: bold;
}
.about-me .section__subtitle--about {
  background: #f05f40;
  padding: 0.25em 1em;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1em;
}
.about-me .about-me__body {
  color: #212529;
  font-family: "Source Code Pro", monospace;
}
.about-me .about-me__body a {
  color: #f05f40;
  text-decoration: none;
  font-weight: bold;
}
.about-me .about-me__img {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* footer */
.footer {
  color: #f05f40;
  text-align: center;
  padding: 2.5em 0;
  font-size: 1.25rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a .fab {
  font-size: 25px;
}

.footer__link {
  font-weight: 900;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.intro {
  position: relative;
  margin-top: 4.5em !important;
}
.intro .section__title--intro {
  font-weight: 300;
}
.intro .section__title--intro strong {
  display: block;
}
.intro .section__subtitle--intro {
  background: #f05f40;
  padding: 0.25em 1em;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1em;
  display: inline-block;
}
.intro .social-intro {
  text-align: center;
}
.intro .social-intro .social-intro .social-list {
  padding: 5px;
  margin-bottom: 5px;
}
.intro .intro__img {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5);
}

.fab {
  font-size: 30px;
  color: #f05f40;
  transition: all 0.4s ease-in-out;
}

.fab:hover {
  color: #f05f40;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
  .intro .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
}
.my-services {
  background-size: cover;
  background-blend-mode: multiply;
  color: #212529;
  text-align: justify;
  text-align: center;
}

.section__title--services {
  color: #f05f40;
  position: relative;
  text-align: center;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #f05f40;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}
.services h3 {
  text-align: center;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}
.service h3 {
  margin-bottom: 15px;
}
.service p {
  font-family: "Source Code Pro", monospace;
}

.service-icons {
  font-size: 50px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
.my-work {
  background-color: #fff;
  color: #212529;
  text-align: center;
  margin-top: 20px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: #f05f40;
  overflow: hidden;
  margin: 5px;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Individual portfolio item styles */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.section__subtitle--work {
  color: #f05f40;
  font-weight: 900;
  margin-bottom: 2em;
  margin-bottom: 10px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.service-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 42px 22px;
  margin-top: 10px;
  cursor: crosshair;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.service-thumb:hover {
  top: -5px;
  transform: scale(1.15);
}

.skill-icons {
  font-size: 50px;
}

@media (max-width: 600px) {
  .skills-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
/*


*/
/*
//Button
$btn-main-bg: $base-lighter;

//$btn-primary-bg:     $brand-primary;
$btn-dark-bg: $clr-dark;
$btn-third-bg: $brand-third;
$btn-border-dark: $clr-dark;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-line-height: $base-line-height;
$btn-transition: all, 0.2s ease-in-out;*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #212529;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 900;
}

:focus {
  outline: 3px solid #f05f40;
  outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    /*grid-template-areas: 
            "img title"
            "img subtitle";*/
    grid-template-columns: min-content max-content;
  }
}
@media (min-width: 600px) and (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
@media (min-width: 600px) {
  .img_intro {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: #f05f40;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  transition: transform 200ms ease-in-out;
  border-radius: 7px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-download {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
.next,
.text {
    font-size: 11px;
  }
}
div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
