.intro {
  position: relative;
  margin-top: 4.5em !important;
  .section__title--intro {
    font-weight: $fw-reg;
    strong {
      display: block;
    }
  }
  .section__subtitle--intro {
    background: $clr-accent;
    padding: 0.25em 1em;
    font-family: $ff-secondary;
    margin-bottom: 1em;
    display: inline-block;
  }
  .intro__img {
    box-shadow: $bs;
  }
}

.fab {
  font-size: 30px;
  color: $clr-accent;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    .section__subtitle--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
    }
    .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
    }
  }
}
