.my-services {
  background-color: $clr-dark;
  background-size: cover;
  background-blend-mode: multiply;
  color: $clr-light;
  text-align: justify;
  text-align: center;
}

.section__title--services {
  color: $clr-accent;
  position: relative;
  text-align: center;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: $clr-accent;
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
  h3 {
    text-align: center;
  }
}

.service {
  max-width: 500px;
  margin: 0 auto;
  p {
    font-family: $ff-secondary;
  }
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
